.sec-une {
background-color: #FFD6E4;
width: 100%;
height: 779px;

}

.sec-une .title {
text-align: center;
padding: 72px 22px;
}

.sec-une .card {
display: flex;
flex-direction: row;
justify-content: space-evenly;
flex-wrap: wrap;

}

.cards {
 flex-direction: column;
}
.cards img {
width: 350px;
}
.cards h4 {
text-align: center;
background-color: #fff;
padding: 10px;
width: 80%;
margin: -56px auto;
z-index: 122222333;

}

@media screen and (min-width: 768px) and (max-width: 1024px) {

.sec-une {
background-color: #FFD6E4;
width: 100%;
height: 1087px;
}



}

@media screen and (min-width: 480px) and (max-width: 767.9px) {
.sec-une {
background-color: #FFD6E4;
width: 100%;
height: 1687px;
}
.cards {
    flex-direction: column;
    padding-bottom: 102px;
}

}

@media screen and (min-width: 320px) and (max-width: 479px) {
.sec-une {
background-color: #FFD6E4;
width: 100%;
height: 1687px;
}
.cards {
    flex-direction: column;
    padding-bottom: 102px;
}
}