@import url(./navigation.css);
@import url(./settings.css);
@import url(./typo.css);
@import url(./footer.css);
@import url(./tabs.css);
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
/* ------------------------------------------------------------------------------
                          MISE EN PAGE MOBILE FIRST
--------------------------------------------------------------------------------*/

article.content {
  background-color: #ffffff;
}

aside {
  background-color: #ffffff;
}

section {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 20px;
}

/* ------------------------------------------------------------------------------
                         MAIN : BANNER
--------------------------------------------------------------------------------*/
.blog .banner figure {
  height: 400px;
  background-size: cover;
  background-image: url("../img/coding.jpg");
}

.blog .banner figure img.contain {
  object-fit: contain;
}

.blog .blog-comments {
  position: relative;
}

.blog .blog-comments span {
  margin-right: 10px;
}

.blog .blog-comments span:first-child {
  display: none;
}

.blog .blog-comments span:last-of-type {
  float: right;
}

.blog .blog-comments span i.fa-heart {
  color: #e74c3c;
}

/* ------------------------------------------------------------------------------
                         MAIN : VIDEO
--------------------------------------------------------------------------------*/

.blog section.video video {
  width: 100%;
}

/* ------------------------------------------------------------------------------
                         ASIDE : section NETRWORKS
--------------------------------------------------------------------------------*/
aside section {
  margin-top: 30px;
}

aside section h3 {
  border-left: solid 5px #19bd9b;
  border-bottom: solid 1px #d3d3d3;
  padding-left: 5px;
}

aside section.networks ul {
  list-style: none;
  display: flex;
}

aside section.networks ul li {
  flex-basis: 25%;
  text-align: center;
  color: #fff;
  border-right: solid 3px #fff;
}

aside section.networks ul li i {
  font-size: 35px;
  width: 60px;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid #ffffff;
  padding: 10px;
}

aside section.networks ul li p:last-of-type {
  border-top: solid 3px #fff;
  padding-top: 10px;
}

aside section.networks ul p {
  text-align: center;
}

aside section.networks ul li span {
  font-size: 2rem;
}

aside section.networks ul li:first-child {
  background-color: #2da5da;
}

aside section.networks ul li:nth-child(2) {
  background-color: #b6c710;
}

aside section.networks ul li:nth-child(3) {
  background-color: #27c1b9;
}

aside section.networks ul li:last-child {
  background-color: #cf2555;
  border-right: none;
}

/* ------------------------------------------------------------------------------
                         ASIDE : section ONGLETS
--------------------------------------------------------------------------------*/
section.onglets .tab-flex {
  display: flex;
  justify-content: flex-start;
  padding: 20px 0 0 0;
}

section.onglets .tab-flex img {
  width: 90px;
  height: 90px;
  margin-right: 10px;
}

section.onglets .tab-flex p {
  margin: 0 0 10px 10px;
  font-size: 1.8rem;
}

section.onglets .tab-flex p span {
  display: block;
  padding: 0;
  margin: 20px 0 0 0px;
}

section.onglets .tab-flex p span i {
  color: #2da5da;
}

/* ------------------------------------------------------------------------------
                         ASIDE : section ADS
--------------------------------------------------------------------------------*/
section.ads div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-top: 20px;
}

/* ------------------------------------------------------------------------------
                         ASIDE : section FLICKER
--------------------------------------------------------------------------------*/
section.flicker div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}

/* ------------------------------------------------------------------------------
                         ASIDE : section TAGS
--------------------------------------------------------------------------------*/
section.tags ul {
  list-style: none;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

section.tags ul li {
  background-color: #e7e7e7;
  margin: 10px 10px 10px 0;
  padding: 15px;
}

section.tags ul li a {
  text-decoration: none;
  color: #000;
}

section.tags ul li:hover a {
  color: #fff;
}

section.tags ul li:hover {
  background-color: #27c1b9;
}

/* ------------------------------------------------------------------------------
                          MISE EN PAGE TABLETTE
--------------------------------------------------------------------------------*/
@media screen and (min-width: 768px) {
  .blog {
    display: grid;
    grid-template-columns: 3fr 300px;
    grid-gap: 20px;
    background-color: #ffffff;
    padding: 10px;
  }

  .blog .blog-comments span:first-child {
    display: block;
    background-color: #19bd9b;
    padding: 30px;
    color: #fff;
    float: left;
  }

  aside section.networks ul li i {
    font-size: 20px;
    width: 40px;
    background-color: transparent;
    border-radius: 50%;
    border: 3px solid #ffffff;
    padding: 5px;
  }

  aside section.networks ul li span {
    font-size: 2.5rem;
  }

  aside section.networks ul li p:nth-child(2) {
    font-size: 1.5rem;
  }

  section.onglets .tab-flex img {
    width: 90px;
    height: 90px;
  }
}

/* ------------------------------------------------------------------------------
                          MISE EN PAGE DESKTOP
--------------------------------------------------------------------------------*/
@media screen and (min-width: 960px) {
  .blog {
    display: grid;
    grid-template-columns: 4fr 400px;
    grid-gap: 20px;
    background-color: #ffffff;
    padding: 10px;
  }

  section.onglets .tab-flex img {
    width: 100px;
    height: 100px;
  }

  aside section.networks ul li i {
    font-size: 35px;
    width: 60px;
    background-color: transparent;
    border-radius: 50%;
    border: 3px solid #ffffff;
    padding: 10px;
  }

  aside section.networks ul li span {
    font-size: 3rem;
  }
}