@import url(./navigation.css);
@import url(./settings.css);
@import url(./typo.css);
@import url(./footer.css);
@import url(./homepage/gallerie-home2.css);
@import url(./card2.css);
@import url(./sectionimage.css);
@import url(./animation.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





.post-header {
width: 100%;
height: 500px;
background-color: #ef86d593;
}

.post-container {
max-width: 800px;
margin: auto;
width: 100%;
}
.header-content {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 4rem!important;
}

.back-home{
color: rgb(5, 5, 5);
font-size: 18px;
padding-top: 45px;
padding-bottom: 20px;
text-decoration: none;
}
.back-home a {
text-decoration: none;
}

.header-title {
    width: 90%;
    font-size: 32px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 1rem;
}
.header-img {
width: 100%;
height: 420px;
object-fit: cover;
object-position: center;
}

.text-pun{
padding-bottom: 12px;
}
.text-pdeux{
padding-top: 32px;
}
.post-content {
margin-top: 10rem!important;
display: grid;
grid-template-columns: 1fr 9fr;
grid-gap: 20px;
}




.parti-social {
display: flex;
flex-direction: column;

}



.parti-social li {
padding-bottom: 15px;
    width: 19px;
    font-size: 26px;

}
.parti-social h4 {
    transform: rotate(90deg);
    font-size: 15px;
    padding: 28px 6px;
    margin-left: -15px;
    font-weight: 600;
}

.parti-social .icon {
    color: white;
    padding: 20px 23px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #c3c4c6;
    transition: transform .8s ease-in-out;  
}
.parti-social .icon:hover {
transform: rotate(360deg); 

}

.fa-brands {
    font-family: 'Font Awesome 6 Brands';
    font-weight: 400;
   ;
    padding: 12px;
    border-radius: 50%;
}


.fa-facebook-f {
    background-color: #3B5998;
    
    
}

.icon-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
   
    
}
.fa-twitter {
    background-color: #1DA1F2;
   
    
}
.fa-dribbble {
    background-color: #e94888;
   
    
}
.fa-behance {
    background-color: #053eff;
   
    
}

.sub-heading {
font-size: 1.2rem;
}
.post-text  {
font-size: 15px;
line-height: 1.7rem;
margin: 1rem 0;
text-align: justify;
}

.img-bg {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
align-items: center;
/* padding: 22px; */
/* margin: 0 12px; */
}

.img-bg img{
width: 350px;

}

.card-blog{
    /* margin: 0 12px; */
    box-shadow: 0px 3px 11px -1px #211e1e;
    margin-right: 13px;
}
    



h4 {
text-align: center;
font-size: 20px;
padding: 12px;
}


  .scroll-line{
    background-color: pink; 
      top: 0;
      left: 0;
      height: 10px;
      position: fixed;
      transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 12;
    }

.featured {
    padding-bottom: 47px;
}

.tag {

    padding: 22px 22px;
    border-top: 1px solid slategray;
    border-bottom: 1px solid slategray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 69%;
    margin: 0 auto;

}


@media screen and (min-width: 480px) and (max-width: 767.9px) {

.post-content {
margin-top: 10rem!important;
display: grid;
grid-template-columns: 1fr ;
grid-gap: 20px;
}
.parti-social {
display: none;

}


}