
.sectioncontact {
display: grid;
grid-template-columns: 1fr 1fr;
height: 645px;
width: 100%;
}

.sectioncontact .contact-image img {
height: 645px;
width: 100%;
}
.contact-title {
text-align: center;
padding-bottom: 54px;
} 
.contactform {
display: flex;
flex-direction: column;
padding: 22px;
justify-content: center;
align-content: center;
margin: 63px;

}

.form-contact {
margin-left: 120px;
}

.formcontact {
padding-bottom: 42px;
width: 100px;

}

.formcon {
    width: 431px;
    border: none;
    border-bottom: 2px solid black;
}


input[type="email"], input[type="user"] {
     width: 431px;
    border: none;
    border-bottom: 2px solid black;
}


.btn_contact {
    text-decoration: none;
    color: #f96f88;
    border: 1px solid #f96f88;
    padding: 12px 12px;
    width: 80%;
    margin: 0 auto;
}

.btn_contact {
        text-decoration: none;
        color: #fff;
        background-color: #f96f88;
    border: 1px solid #f96f88;
    padding: 12px 12px;
}

.formcon:focus {
border: none;
} 