/******************************************************************************************************************

                                            dbt_Header


*******************************************************************************************************************/

#showcase {
min-height: 550px;
color: #fff;
text-align: center;
font-family: 'Gilda Display', serif;
}
 #showcase .bg-image {

    position: absolute;
    background-image: url('../img/header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
    z-index: -1;


}

#showcase h1 {
        padding-top: 244px;
        padding-bottom: 0;

}





/******************************************************************************************************************

                                            fin_Header


*******************************************************************************************************************/