.hero-image {

background-color: palevioletred;
height: 80%;
display: flex;
justify-content: center;
align-items: center;
width: 100%;

}

.hero-image .hero-text {
    color: white;
        text-align: center;

}

.hero-text h1 {
        font-size: 50px;
        font-weight: 500;

}

.hero-text p {
        font-size: 50px;
        font-weight: 500;
        line-height: 10px;

}