/******************************************************************************************************************

                                            dbt_Sectiondeux


*******************************************************************************************************************/





#sectiondeux {
min-height: 400px;

}
 #sectiondeux .parallaxe1 {

    position: relative;
    background-image: url("../img/[GetPaidStock.com]-6256b94602697.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    background-attachment: fixed;
    
}



/******************************************************************************************************************

                                            fin_Sectiondeux


*******************************************************************************************************************/