.section5 {
width: 100%;
height: 398px;
} 

.section5 .cardgallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.section5 .cardgallery img {
    width: 315.2px;
    height: 100%;
}