@import url(./navbarversion2.css);
@import url(./settings.css);
@import url(./typo.css);
@import url(./footer.css);
@import url(./about-header.css);
@import url(./about-secun.css);
@import url(./section3about.css);
@import url(./about-section4.css);
@import url(./about-section5.css);
@import url(./temoin.css);
@import url(./animation.css);


*  {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

}

.title-slide {
text-align: center;
display: flex;
justify-content: center;
align-items: center;
padding: 12px 12px;
}
