/******************************************************************************************************************

                                            dbt_Sectiontrois


*******************************************************************************************************************/





#sectiontrois {
min-height: 320px;


}
 #sectiontrois .paralla {
    background: #F96F88;
    position: relative;
    background-position: center;
    width: 100%;
    height: 320px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#sectiontrois .paralla h3 {
    text-align: center;
    color: #fff;
}
#sectiontrois .paralla h3::after {
       content: '';
    position: absolute;
    background-color: #ffd6e472;
    height: 10px;
    width: 46%;
    left: 27%;
    bottom: 151px;
    z-index: -1;
}


/******************************************************************************************************************

                                            fin_Sectiondeux


*******************************************************************************************************************/