
@media screen and (min-width: 1280px) {
.wrap {

display: flex;
justify-content: center;
align-items: center;
 flex-wrap: wrap;

padding: 100px 0;

}

.wrap .bloc {
    display: flex;
    margin-left: 42px;
    padding: 100px;
    border-radius: 8px;
    color: #fff;
    font-weight: 100;
}

.wrap .bloc:nth-child(1) {

background-color: #C12872;

} 

.wrap .bloc:nth-child(2) {

background-color: #F96F88;

} 


.wrap .bloc:nth-child(3) {

background-color: #FFD9E7;

} 

}


.wrap .bloc a {
text-decoration: none;
}


@media screen and (min-width: 1024px) and (max-width: 1280px) {
.wrap {

display: flex;
justify-content: center;
align-items: center;
 flex-wrap: wrap;
margin-top: 12px;

}

.wrap .bloc {
    display: flex;
    margin-left: 42px;
    padding: 100px;
    border-radius: 8px;
    color: #fff;
    font-weight: 100;
}

.wrap .bloc:nth-child(1) {

background-color: #C12872;

} 

.wrap .bloc:nth-child(2) {

background-color: #F96F88;

} 


.wrap .bloc:nth-child(3) {

background-color: #FFD9E7;

} 

}


@media screen and (min-width: 768px) and (max-width: 1024px){
.wrap {

display: flex;
justify-content: center;
align-items: center;
 flex-wrap: wrap;
margin-top: 12px;

}

.wrap .bloc {
    display: flex;
    margin-left: 42px;
    padding: 100px;
    border-radius: 8px;
    color: #fff;
    font-weight: 100;
    margin-top: 5%;

}

.wrap .bloc:nth-child(1) {

background-color: #C12872;

} 

.wrap .bloc:nth-child(2) {

background-color: #F96F88;

} 


.wrap .bloc:nth-child(3) {

background-color: #FFD9E7;

} 

}


@media screen and (min-width: 480px) and (max-width: 767.9px){
.wrap {

display: flex;
justify-content: center;
align-items: center;
 flex-wrap: wrap;
margin-top: 12px;

}

.wrap .bloc {
    display: flex;
    margin-left: 42px;
    padding: 100px;
    border-radius: 8px;
    color: #fff;
    font-weight: 100;
    margin-top: 5%;

}

.wrap .bloc:nth-child(1) {

background-color: #C12872;

} 

.wrap .bloc:nth-child(2) {

background-color: #F96F88;

} 


.wrap .bloc:nth-child(3) {

background-color: #FFD9E7;

} 

}

@media screen and (min-width: 320px) and (max-width: 479px){
.wrap {

display: flex;
justify-content: center;
align-items: center;
 flex-wrap: wrap;
margin-top: 12px;

}

.wrap .bloc {
    display: flex;
    margin-left: 42px;
    padding: 100px;
    border-radius: 8px;
    color: #fff;
    font-weight: 100;
    margin-top: 5%;

}

.wrap .bloc:nth-child(1) {

background-color: #C12872;

} 

.wrap .bloc:nth-child(2) {

background-color: #F96F88;

} 


.wrap .bloc:nth-child(3) {

background-color: #FFD9E7;

} 

}