/******************************************************************************************************************

                                            dbt_SectionUne


*******************************************************************************************************************/



#showcase .content-wrap,
#sectionune .content-wrap {
  padding: 126px;
}

.sectionune {

padding-bottom: 2em;
width: 100%;

}


.content-title {

text-align: center;
padding-bottom: 62px;   
    font-family: 'Gilda Display', serif;
    font-size: 36px;

}




/******************************************************************************************************************

                                            fin_SectionUne


*******************************************************************************************************************/